:root {
  --background-color: #c2c2d6;
  --calculator-background-color: #000000;
  --number-key-background-color: #4d4d4d;
  --clear-key-background-color: #ac3939;
  --operation-key-background-color: #666666;
  --equals-key-background-color: #004466;
  --result-color: #d6a500;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: var(--background-color);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

#calculator {
  position: relative;
  width: 325px;
  height: 380px;
  background-color: var(--calculator-background-color);
}

/**
 * Display
 */
#display {
  position: absolute;
  top: 2rem;
  right: 5px;
  font-size: 1.25rem;
  color: white;
}

#result {
  position: absolute;
  top: 0.5rem;
  right: 5px;
  color: var(--result-color);
}

/**
 * Keys
 */

#keys-grid-area {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1.25rem 1rem;
}

.key:hover {
  color: black;
  padding: 15px;
  transform: scale(1.01);
  border: 1px solid gray;
}

.number-key {
  background-color: var(--number-key-background-color);
}

.operation-key {
  background-color: var(--operation-key-background-color);
}

#zero {
  grid-area: 5 / 1 / span 1 / span 2;
}

#clear {
  background-color: var(--clear-key-background-color);
  grid-area: 1 / 1 / span 1 / span 2;
}

#divide {
  grid-area: 1 / 3;
}

#multiply {
  grid-area: 1 / 4;
}

#subtract {
  grid-area: 2 / 4;
}

#add {
  grid-area: 3 / 4;
}

#equals {
  background-color: var(--equals-key-background-color);
  grid-area: 4 / 4 / span 2 / span 1;
}

/**
 * Footer
 */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer p {
  margin-bottom: 5px;
}
